* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  background-color: #DDD;
}

#wrapper {
  width: 800px;
  margin: 0 auto;
}

header {
  height: 100px;
}

#map {
  width: 800px;
  height: 400px;
  background: #4b83ad;
}

#controls {
  
}
