* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  background-color: #FFF;
  font: 12px verdana, sans-serif;
  color: #000;
}

html, body {
  padding: 0;
  margin: 0;
}

a {
  font: 12px verdana, sans-serif;
  color: #000;
}

.clear-it {
  clear: both;
  font-size: 1px;
  line-height: 1px;
  height: 1px;
  display: block;
}

.single-border {
  border-top: 2px solid black;
}

#wrapper {
  width: 100%;
}

header {
  font-family: Verdana, sans-serif;
  font-size: 15px;
}

header h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 40px;
  line-height: 40px;
  margin: 25px;
  margin-right: 20px;
  display: inline-block;
}

footer {
  margin: 25px;
}

/* Index Page */
#map-container {
  width: 100%;
  height: 429px;
  border-top: solid #000 2px;
  border-bottom: solid #000 2px;
}

#map-container .map {
  width: 100%;
  height: 425px;
  background: #4b83ad;
}

#map-container .controls {
  padding: 5px 15px 10px;
  width: 600px;
  z-index: 1000;
  background-color: #FFF;
  position: relative;
  top: -162px;
  left: 20px;
}

#map-container .controls label {
  padding: 0 3px;
}

#map-container .controls .acreage {
  margin-bottom: 17px;
}

.elessar-handle {
  display: block;
  background: #e7c43f;
  height: 100%;
  width: 5px;
  cursor: ew-resize;
  position: absolute;
  top: 0;
  bottom: 0;
}
.elessar-handle:first-child {
  left: 0;
}
.elessar-handle:last-child {
  right: 0;
}
.elessar-range {
  position: absolute;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #3ee9a5;
  width: 0;
}
.elessar-phantom {
  background-color: transparent;
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer !important;
}
.elessar-rangebar {
  position: relative;
  height: 30px;
  line-height: 30px;
  background: #e8e0d8;
}
.elessar-barlabel {
  padding: 0 10px;
}
body.elessar-resizing, body.elessar-dragging {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body.elessar-resizing,
body.elessar-resizing .bar,
body.elessar-resizing .handle {
  cursor: ew-resize !important;

}
body.elessar-dragging,
body.elessar-dragging .bar,
body.elessar-dragging .handle {
  cursor: -webkit-grabbing !important;
  cursor: -moz-grabbing !important;
  cursor: grabbing !important;
}

.leaflet-popup-content h1 a {
  font-size: 16px;
  color: #3ee9a5;
  border-bottom: 1px solid black;
}

.leaflet-popup-content h1 a:hover {
  color: #279C6D;
}

/* Point Detail */
#street-view {
  width: 100%;
  height: 250px;
  background: #4b83ad;
  border-top: solid #000 2px;
  border-bottom: solid #000 2px;
  margin-bottom: 20px;
}

#map-view {
  width: 200px;
  height: 200px;
  border: 1px #000 solid;
}

.column {
  float: left;
  display: inline;
  padding-left: 50px;
  padding-bottom: 20px;
  width: 275px;
}

nav#point-nav a:link, nav#point-nav a:visited {
  margin-top: 10px;
  background-color:#9dce2c;
  text-indent:0;
  border:1px solid #83c41a;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:45px;
  line-height:45px;
  padding: 0 10px 0 10px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #689324;
}

nav#point-nav a:hover {
  background-color:#8cb82b;
}

.dialog {
  display: none;
  width: 500px;
  height: 350px;
  background-color: #DDD;
  border: 2px solid black;
  border-radius: 5px;
  position: absolute;
  top: 100px;
  z-index: 2000;
  padding: 7px;
}

.dialog h2 {
  margin: 0 0 15px 0;
}

.dialog .close {
  float: right;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

.error {
  color: #FF0000;
}

#report-modal {
  width: 250px;
  height: 150px;
}
